prj01/.idea/misc.xml
prj01/.idea/modules.xml
prj01/.idea/prj01.iml
prj01/.idea/inspectionProfiles/profiles_settings.xml
prj02/.idea/misc.xml
prj02/.idea/modules.xml
prj02/.idea/prj02.iml
prj02/.idea/inspectionProfiles/profiles_settings.xml
prj03/.idea/misc.xml
prj03/.idea/modules.xml
prj03/.idea/prj03.iml
prj03/.idea/inspectionProfiles/profiles_settings.xml
prj04/.idea/misc.xml
prj04/.idea/modules.xml
prj04/.idea/prj04.iml
prj04/.idea/inspectionProfiles/profiles_settings.xml
prj04/__pycache__/main2.cpython-314.pyc
prj05/data.npy
prj05/.idea/misc.xml
prj05/.idea/modules.xml
prj05/.idea/prj05.iml
prj05/.idea/inspectionProfiles/profiles_settings.xml
prj06/.idea/misc.xml
prj06/.idea/modules.xml
prj06/.idea/prj06.iml
prj06/.idea/inspectionProfiles/profiles_settings.xml
